<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
</head>
<body>
<h2>Product Details</h2>
<div>
    <h3 th:text="${product.productName}"></h3>
    <p th:text="'Price: $' + ${product.productPrice}"></p>
    <p th:text="'Available Amount: ' + ${product.productAmount}"></p>
    <p th:text="${product.productDescription}"></p>

    <!-- Форма для добавления товара в корзину -->
    <form action="/cart/add" method="post">
        <input type="hidden" name="productId" th:value="${product.productId}" />
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" min="1" value="1" />
        <button type="submit">Добавить в корзину</button>
    </form>
</div>
</body>
</html>