<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../styles.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        input[type="number"] {
            width: 50px;
        }
        .btn-primary {
            width: 100px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="search">
        <form action="/search" method="get">
            <input type="text" id="productName" name="productName" placeholder="Search Products...">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <form action="/search" method="get">
            <input type="text" id="category" name="category" placeholder="Search by Category...">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div th:if="${message}" style="color: red;">
    <p th:text="${message}"></p>
</div>


<div class="menu">
    <a href="/cart">Cart</a> | <a href="/profile">Profile</a>
</div>
<div class="profile">
    <h2>Your profile</h2>
    <div class="profile-info">
        <h3>Your Information</h3>
        <form action="/profile/edit" method="post">
            <p>
                <strong>Name:</strong>
                <span th:text="${client.name}" id="clientName"></span>
                <input type="text" id="newName" name="newName" style="display: none;">
                <button type="button" onclick="editInfo('newName', 'clientName')">Edit</button>
            </p>
            <p>
                <strong>Email:</strong>
                <span th:text="${client.email}" id="clientEmail"></span>
                <input type="email" id="newEmail" name="newEmail" style="display: none;">
                <button type="button" onclick="editInfo('newEmail', 'clientEmail')">Edit</button>
            </p>
            <p>
                <strong>Phone:</strong>
                <span th:text="${client.phone}" id="clientPhone"></span>
                <input type="phone" id="newPhone" name="newPhone" style="display: none;">
                <button type="button" onclick="editInfo('newPhone', 'clientPhone')">Edit</button>
            </p>
            <p>
                <strong>Address:</strong>
                <span th:text="${client.address}" id="clientAddress"></span>
                <input type="address" id="newAddress" name="newAddress" style="display: none;">
                <button type="button" onclick="editInfo('newAddress', 'clientAddress')">Edit</button>
            </p>
            <p>
                <strong>Password:</strong>
                <input type="password" id="newPassword" name="newPassword">
            </p>
            <button type="submit">Save</button>
        </form>
        <!-- Добавьте аналогично поля для Phone и Address -->
    </div>

    <script>
        function editInfo(inputId, spanId) {
            var inputField = document.getElementById(inputId);
            var spanField = document.getElementById(spanId);

            if (inputField.style.display === 'none') {
                inputField.style.display = 'inline-block';
                spanField.style.display = 'none';
            } else {
                inputField.style.display = 'none';
                spanField.style.display = 'inline';
            }
        }

        function saveInfo(inputId, spanId) {
            var newValue = document.getElementById(inputId).value;
            // Отправка нового значения на сервер для обновления профиля
            // Здесь можно использовать AJAX запрос
            console.log('New value:', newValue);
            // После успешного обновления, обновить отображаемое значение
            document.getElementById(spanId).innerText = newValue;
            // Скрыть поле ввода и показать отображаемое значение
            document.getElementById(inputId).style.display = 'none';
            document.getElementById(spanId).style.display = 'inline';
        }
    </script>
    <!-- Кнопка для выхода из аккаунта -->
    <div class="exit">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>


    <!-- Список заказов пользователя -->
    <ul>
        <li th:each="order : ${orders}">
            Order № <span th:text="${order[0].orderProduct.id.Order_ID}"></span>
            <button type="button" th:onclick="'toggleProducts('  +  ${order[0].orderProduct.id.Order_ID}  +  ')'">Show products</button>
            <div th:id="'products_'+${order[0].orderProduct.id.Order_ID}" style="display: none;">
                <table>
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${order}">
                        <td th:text="${product.product.productName}"></td>
                        <td th:text="${product.orderProduct.poAmount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>

    <script>
        function toggleProducts(orderId) {
            console.log(orderId);
            var productsDiv = document.getElementById("products_" + orderId);
            if (productsDiv.style.display === "none") {
                productsDiv.style.display = "block";
            } else {
                productsDiv.style.display = "none";
            }
        }
    </script>
</div>
</body>
</html>